@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_nullstyle.scss";
@import "fonts";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700");
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
	font-family: "Open Sans", serif;
	font-weight: 400;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

@import "header.scss";
@import "footer.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.todo {
	padding: 50px 0;
	background-color: rgb(166, 233, 222);
	flex: 1 1 auto;
	&__body {
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto 20px auto;
		max-width: 600px;
	}

	&__input {
		display: inline-block;
		width: 100%;
		margin: 0px 15px 0px 0px;
		height: 30px;
		padding: 5px 5px;
		border-radius: 5px;
	}

	&__btn {
		display: inline-block;
		height: 30px;
		padding: 0px 14px;
		border-radius: 5px;
		background-color: rgb(210, 148, 238);
	}

	&__list {
		margin: 0px auto;
		max-width: 600px;
		background-color: #fff;
		border-radius: 5px;
		// padding: 10px;
	}
	&__list-item {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #000;
		padding: 10px 10px;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
	}
	&__list-text {
		flex: 1 1 auto;
		&.checked {
			text-decoration: line-through;
			color: grey;
		}
	}
}
